beautifulsoup4==4.5.3
blinker==1.4
bs4==0.0.1
docutils==0.13.1
ecdsa==0.13
Fabric==1.13.2
feedgenerator==1.9
ghp-import==0.5.5
Jinja2==2.9.6
Markdown==2.6.8
MarkupSafe==1.0
paramiko==2.1.2
pelican==3.7.1
pycrypto==2.6.1
Pygments==2.2.0
python-dateutil==2.6.0
pytz==2017.2
six==1.10.0
Unidecode==0.4.19
